.entityPickerParent {
	height: auto;
	border: 1px solid #e2e2e2;
	overflow: auto;
	cursor: text;
}

input.entityPickerInput {
	border: 0px;
	float: left;
	width: 100px;
	padding: 0;
	margin: 3px 3px 3px 3px;
	outline: none;
}

input.entityPickerInput:focus {
	/* Override default MVC styles to keep the input box cloaked in div */
	border: none;
}

.entityClear {
	clear: both;
}

.entityPickerDisabled {
	background-color: #AAB;
}

.entityContainer {
	cursor: default;
	outline: none;
}

.entityContainerFocused {
	outline: -webkit-focus-ring-color auto 5px;
}

.entityDelete {
	border: 1px solid red;
}

.entityEntry {
	float:left;
	margin: 3px 3px 3px 3px;
}

.entityEntry .innerWrapper {
	padding: 1px 0 1px 0;
}

.entityEntry .innerWrapper .entityDisplay {
	float:left;
	margin-left: 2px;
}
